@import 'https://fonts.googleapis.com/css?family=Raleway:100,300';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300';

* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

body {
	overflow-x: hidden !important;
}


header {
	height: 100vh;
	width: 100vw;
	overflow-x: hidden !important;
	
}

#fondo1 {
	background: url("../img/fondouno.png") no-repeat;
	background-position: center bottom;
	z-index: 5;
}

#fondo2 {
	background: url("../img/fondodos.png") no-repeat;
	background-position: center bottom;
	z-index: 10;
}

#fondo3 {
	background: url("../img/fondotres.png") no-repeat;
	background-position: center bottom;
	z-index: 15;
}

#fondo1, #fondo2, #fondo3 {
	position: absolute;
	background-size: cover;
	height: 100vh;
	width: 100vw;
}



#particles-js {
	position: absolute;
	background: radial-gradient(#2F527A, #0B223C);
	height: 100vh;
	width: 100vw;
	z-index: -10;
}

.st0{opacity:0.79;fill:#FFFFFF;}
.st1{opacity:0.15;fill:#DDB481;}
.st2{opacity:0.22;fill:#DDB481;}
.st3{fill:#DDB481;}
.st4{fill:#E0C5A4;}
.st5{fill:#FFFFFF;}
.st6{fill:#C79665;}

#luna_1_ {
	position: absolute;
	bottom: 12vh;
	left: calc(50vw - 25vh);
	width: 50vh;
	z-index: -9;
}

#Luz1 {
	animation: lucesLuna1 3s ease infinite;
}

#Luz2 {
	animation: lucesLuna2 3s ease infinite;
}

@keyframes lucesLuna1 {
	0% {opacity: 0.4;}
	50% {opacity: 0.5;}
	100% {opacity: 0.4}
}

@keyframes lucesLuna2 {
	0% {opacity: 0.2;}
	50% {opacity: 0.3;}
	100% {opacity: 0.2}
}

.nube {
	fill: #FFF;
	opacity: 0.7;
}

#nube1 {
	position: absolute;
	width: 22vmax;
	top: 35vh;
	animation: nubes 150s infinite linear;
	margin-left: 40%;
	z-index: 3;
}

#nube2 {
	position: absolute;
	width: 10vmax;
	top: 40vh;
	animation: nubes 110s infinite linear;
	margin-left: 20%;
	z-index: 0;
}

#nube3 {
	position: absolute;
	width: 10vmax;
	top: 50vh;
	animation: nubes 100s infinite linear;
	margin-left: 80%;
	z-index: 0;
}

#nube4 {
	position: absolute;
	width: 22vmax;
	top: 60vh;
	animation: nubes 130s infinite linear;
	margin-left: 60%;
	z-index: 8;
}

#nube5 {
	position: absolute;
	width: 6vmax;
	top: 53vh;
	animation: nubes 90s infinite linear;
	margin-left: 40%;
	z-index: 8;
}

@keyframes nubes {
	0% {
		left: -60%;
	}
	100% {
		left: 120%;
	}
}

#estrellas {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: url("../img/estrellas.JPG") no-repeat center;
	background-size: cover;
	z-index: -9;
	opacity: 0;
}

#contenidoHeader {
	height: 100vh;
	width: 100vw;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: center;
	    align-items: center;
	text-align: center;
	position: relative;
	top: -10vh;
}

#contenidoHeader * {
	z-index: 30;
}

.ornament {
	fill: rgba(255, 255, 255, 1);
}

.ornamentCont {
	width: 15em;
}

#contenidoHeader h1 {
	font-weight: 100;
	font-size: 5em;
	color: #FFF;
	line-height: 0.8em;
	letter-spacing: -0.06em;
	padding: 0.2em;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#contenidoHeader b {
	font-weight: 300;
}

#contenidoHeader h2 {
	font-weight: 300;
	font-size: 1.5rem;
	color: #FFF;
	line-height: 0.8em;
	letter-spacing: -0.04em;
	padding: 0.5em 3em;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}



#about {
	background-color: #0A0618;
	color: white;
	padding: 20px;
	text-align: center;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: center;
	    align-items: center;
}

.seccion {
	font-weight: 100;
	font-size: 2.8em;
	text-align: center;
}

.borde {
	width: 6em;
	height: 0.25em;
	background-color: #E0C5A4;
	border-radius: 10px;
	margin-top: 0.6em;
}

#about p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.1em;
	padding: 1.8em;
	max-width: 800px;
	letter-spacing: 0.08em;
	line-height: 1.5em;
}

#separadorAbout {
	width: 100vw;
	height: 3em;
	background: url(../img/separador.svg) repeat-x top center;
	background-size: auto;
	z-index: 1;
	position: relative;
}

#girl {
	width: 70vw;
	max-width: 500px;
	height: auto;
	padding: 1.7em 0;
}

#skills {
	background: url(../img/fondoSkills.svg) no-repeat center center;
	background-size: 90vmin;
	margin-top: -3em;
	z-index: 0;
}

#skillsFondo {
	background: radial-gradient(circle, rgba(255,255,255,0.9), rgba(218, 219, 221,0.9));
	margin-top: -3em;
	padding-top: 5em;
}

#skillsContenido {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: center;
	    align-items: center;
}

#skillsContenido h1 {
	font-weight: 300;
}

#bars {
	width: 90vw;
	max-width: 700px;
	margin: 3em;
}

.contador:after{
	content: "%";
}

.skillbar {
	position: relative;
	display: block;
	margin-bottom: 1.6em;
	width: 100%;
	background: rgba(193,193,193,0.7);
	height: 2.7em;
	border-radius: 3px;
	transition: 0.4s linear;
	transition-property: width, background-color;
}

.skillTitle {
	position: absolute;
	top: 0;
	left: 0;
	width: 7em;
	font-weight: bold;
	font-size: 1em;
	color: #ffffff;
	background: #6adcfa;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	text-align: center;
}

.skillTitle span {
	display: block;
	background: rgba(0, 0, 0, 0.1);
	height: 2.7em;
	line-height: 2.7em;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.skillBarra {
	height: 2.7em;
	width: 0px;
	background: #6adcfa;
	border-radius: 3px;
}

.porcentaje {
	position: absolute;
	right: 1em;
	top: 0;
	font-size: 1em;
	height: 2.7em;
	line-height: 2.7em;
	color: rgba(0, 0, 0, 0.6);
}

#separadorPortfolio {
	width: 100vw;
	height: 3em;
	background: url(../img/separador2.svg) no-repeat top center;
	background-size: cover;
	z-index: 1;
	position: relative;
	margin-top: -3em;
}

#portfolio {
	width: 100vw;
	background-color: #2F527A;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: center;
	    align-items: center;
	text-align: center;
	position: relative;
	padding: 1em 0;
	padding-bottom: 4em;
}

#portfolio h1 {
	font-weight: 300;
	color: #D5D5D8;
}

#items {
	width: 90vw;
	margin: auto;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	    flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;

}

.item {
	height: 20em;
	width: 20em;
	background-color: red;
	margin: 2em;
	position: relative;
	cursor: pointer;
	border-radius: 5px;
}

.infoItem {
	position: absolute;
	height: calc(100% - 2em);
	width: calc(100% - 2em);
	background-color: rgba(0,28,52,0.8);
	opacity: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: center;
	    align-items: center;
	padding: 1em;
	color: #FFF;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	border-radius: 5px;
}

.infoItem:hover {
	opacity: 1;
	transition: 0.3s;
	transition-timing-function: ease-in;
}

.infoItem h1 {
	padding-bottom: 0.3em;
	font-size: 2.2em;
}

.fa-link {
	font-size: 2em;
	padding: 0.5em;
}

#simon {
	background: url(../img/simon.png) no-repeat center;
	background-size: cover;
}

#iwata {
	background: url(../img/iwata.png) no-repeat center;
	background-size: cover;
}

#majoras {
	background: url(../img/majoras.png) no-repeat center;
	background-size: cover;
}

#teorema {
	background: url(../img/teorema.png) no-repeat center;
	background-size: cover;
}

#separadorContacto {
	width: 100vw;
	height: 4em;
	background: url(../img/separador3.svg) no-repeat top center;
	background-size: cover;
	z-index: 1;
	position: relative;
	margin-top: -4em;
	
}

#contacto {
	background-color: #031427;
	padding: 1.5em;
	text-align: center;
	color: #D5D5D8;
}

#contacto h1 {
	font-weight: 300;
	
}

#social {
	padding: 2em;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#social * {
	color: #D5D5D8;
	font-size: 1.5em;
	padding: 0 0.3em;
}

#contacto p {
	padding: 0.5em;
}

#contacto a {
	color: #D5D5D8;
}

@media (max-width: 768px) {
	#contenidoHeader h1 {
		font-size: 4em;
	}

	.ornamentCont {
		width: 10em;
	}

	#contenidoHeader h2 {
		font-size: 1.2em;
	}

	#about h1 {
		font-size: 2.5em;
	}
}