@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:300;400,700|Raleway:500,600");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #EBEBEB;
  color: #263238;
  text-align: center;
  -webkit-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;
}

* {
  -webkit-transition: all .2 ease-in;
  transition: all .2 ease-in;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin: 1rem .5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: .015rem;
  line-height: 1.6rem;
}

p strong {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 3rem;
}

/* Ensure elements load hidden before ScrollReveal runs */
.sr .circle,
.sr .job-title,
.sr .date,
.sr .company,
.sr .csslider,
.sr .modal .client,
.sr .modal h3,
.sr .main-info,
.sr .modal .close-button,
.sr .section > .content > p {
  visibility: hidden;
}

body.modal-open {
  overflow: hidden;
}

.main-content {
  position: relative;
}

.section {
  min-height: 100vh;
  padding: 3rem 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.section:first-child {
  margin-top: 0;
}

.section.light {
  color: #FAFAFA;
}

.section.portfolio .title {
  color: #960707;
}

.section.portfolio .content {
  width: 90%;
  max-width: 950px;
}

.section.yunemy img {
  display: block;
  width: 10rem;
  margin: 0 auto;
  margin-top: 3.5rem;
}

.section.blog .title {
  color: #1b5e20;
}

.section.blog .content {
  width: 50%;
  max-width: 500px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 20%;
  text-align: left;
}

.section.blog .content .button {
  margin-bottom: .5rem;
  margin-left: 0;
}

@media (max-width: 960px) {
  .section.blog .content {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  .section.blog .content .button {
    margin-right: 0;
  }
}

.section.timeline {
  overflow: hidden;
}

.section.timeline .content {
  max-width: 900px;
}

.section.contact .credits img, .section.contact .credits svg {
  height: 1.6rem;
  width: 1.6rem;
  margin: 0 .25rem;
  vertical-align: middle;
}

.section.contact .credits img path, .section.contact .credits svg path {
  fill: #FAFAFA;
}

.section.contact .credits img:hover, .section.contact .credits svg:hover {
  -webkit-animation: 1s infinite beat;
          animation: 1s infinite beat;
}

.section.contact .credits img:hover path, .section.contact .credits svg:hover path {
  fill: #D50000;
}

@-webkit-keyframes beat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes beat {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.section .title p {
  text-align: left;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

.section .title p.subtitule {
  margin-bottom: .3rem;
}

.section .title p.number {
  opacity: .6;
}

@media (max-width: 960px) {
  .section .title p {
    text-align: center;
  }
}

.section .title, .section .content {
  z-index: 5;
}

.section .content {
  padding: 1.5rem;
  max-width: 800px;
}

.section.header {
  min-height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  overflow: hidden;
}

.section.header h1, .section.header .scroll {
  z-index: 5;
}

.section.header h1 {
  margin-bottom: 4rem;
  max-width: 600px;
}

.section.header h1 span {
  display: block;
  margin: .5rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

.section.header h1 span.name {
  margin: 1.3rem .5rem;
  font-family: 'Abril Fatface', cursive;
  font-size: 4rem;
}

.section.header h1 span.job {
  margin-top: 1.3rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
}

.section.header .scroll {
  position: absolute;
  bottom: .5rem;
}

.section.header .scroll img {
  height: 2rem;
  width: 2rem;
  -webkit-animation: scrollbounce 1s cubic-bezier(0.5, 0.05, 1, 0.5) infinite;
          animation: scrollbounce 1s cubic-bezier(0.5, 0.05, 1, 0.5) infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes scrollbounce {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 1rem, 0);
            transform: translate3d(0, 1rem, 0);
  }
}

@keyframes scrollbounce {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 1rem, 0);
            transform: translate3d(0, 1rem, 0);
  }
}

.section.header .scroll p {
  margin: .3rem 1rem 0 .3rem;
  font-size: .9rem;
}

.section.about-me {
  margin-top: 50vh;
}

.section.about-me p {
  color: #111111;
}

.section.about-me p strong {
  color: #263238;
}

.background {
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(312deg, #00897b, #43a047, #7cb342, #c0ca33, #ffb300, #fb8c00, #f4511e, #e53935, #d81b60, #8e24aa, #5e35b1, #3949ab, #1e88e5, #039be5, #00acc1);
  background-size: 3000% 3000%;
  -webkit-animation: gradientAnimation 39s linear infinite;
          animation: gradientAnimation 39s linear infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes gradientAnimation {
  0% {
    background-position: 0% 9%;
  }
  50% {
    background-position: 100% 92%;
  }
  100% {
    background-position: 0% 9%;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 9%;
  }
  50% {
    background-position: 100% 92%;
  }
  100% {
    background-position: 0% 9%;
  }
}

.background.is-not-visible {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s ease-in-out 500ms, opacity 500ms;
  transition: visibility 0s ease-in-out 500ms, opacity 500ms;
}

.background.is-visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: visibility 0s ease-in-out 0s, opacity 500ms;
  transition: visibility 0s ease-in-out 0s, opacity 500ms;
}

.particles {
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.section .illustration-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 95%;
  height: 110%;
  opacity: .2;
  margin: 0 auto;
  margin-top: -15%;
}

.section.header .illustration-bg {
  margin: auto;
  height: 95%;
  background: url(../img/illustrations/moon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.section.about-me .illustration-bg {
  opacity: .07;
  margin-top: -25vh;
  background: url(../img/illustrations/hands.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 600px) {
  .section.about-me .illustration-bg {
    margin-top: -20vh;
    margin-left: 0;
    width: 100vw;
    background-size: 150vw;
  }
}

@media (max-width: 372px) {
  .section.about-me .illustration-bg {
    margin-top: -70vh;
  }
}

.section.skills .illustration-bg {
  opacity: .2;
  background: url(../img/illustrations/egyptian-face.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}

@media (max-width: 600px) {
  .section.skills .illustration-bg {
    width: 100vw;
    background-size: 150vw;
    background-position: top left;
  }
}

.section.timeline .illustration-bg {
  width: 100%;
  opacity: .2;
  background: url(../img/illustrations/architecture.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

@media (max-width: 600px) {
  .section.timeline .illustration-bg {
    background-size: 200vw;
  }
}

.section.portfolio .illustration-bg {
  opacity: .2;
  margin-top: -15vh;
  max-height: 130vh;
  margin-right: -16vh;
  background: url(../img/illustrations/dragon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}

@media (max-width: 700px) {
  .section.portfolio .illustration-bg {
    margin-right: 0;
    width: 100vw;
    max-height: 100%;
    opacity: .1;
    background-size: contain;
    background-position: top left;
  }
}

@media (max-width: 441px) {
  .section.portfolio .illustration-bg {
    margin-top: -40vh;
  }
}

.section.yunemy .illustration-bg {
  opacity: .2;
  max-width: 800px;
  background: url(../img/illustrations/moon-phases.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

@media (max-width: 600px) {
  .section.yunemy .illustration-bg {
    width: 100vw;
    background-size: 170vw;
  }
}

.section.blog .illustration-bg {
  opacity: .2;
  height: 120%;
  margin-top: -30vh;
  margin-right: 5%;
  background: url(../img/illustrations/atlas.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}

@media (max-width: 960px) {
  .section.blog .illustration-bg {
    height: 90%;
    margin-top: -25vh;
    margin-left: 0;
    margin-right: 0;
    opacity: .1;
    background-position: center right;
  }
}

.section.contact .illustration-bg {
  opacity: .2;
  margin-top: 0;
  max-width: 800px;
  height: 100%;
  background: url(../img/illustrations/beetle.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
}

@media (max-width: 600px) {
  .section.contact .illustration-bg {
    width: 100vw;
    width: calc(100vw - (100vw - 100%));
    background-size: 200vw;
    background-position: center;
  }
}

.main-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 1rem;
  margin: auto;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.main-nav .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .4rem 0;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  opacity: .3;
}

.main-nav .nav-link .nav-text {
  height: auto;
  max-height: 0;
  margin-bottom: .5rem;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #FAFAFA;
  font-size: .85rem;
  text-decoration: none;
  letter-spacing: .025rem;
  -webkit-transition: max-height 0s;
  transition: max-height 0s;
}

.main-nav .nav-link .nav-dot {
  height: 13px;
  width: 13px;
  display: inline-block;
  background: transparent;
  border: 2px solid #FAFAFA;
  border-radius: 50%;
}

.main-nav .nav-link:hover {
  opacity: .7;
}

.main-nav .nav-link:hover .nav-text {
  height: inherit;
  max-height: 100px;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
}

.main-nav .nav-link:hover .nav-dot {
  background: #FAFAFA;
}

.main-nav .nav-link.active {
  opacity: .9;
}

.main-nav .nav-link.active .nav-text {
  height: inherit;
  max-height: 100px;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
}

.main-nav .nav-link.active .nav-dot {
  background: #FAFAFA;
}

.main-nav.dark .nav-link .nav-text {
  color: #263238;
}

.main-nav.dark .nav-link .nav-dot {
  border-color: #263238;
}

.main-nav.dark .nav-link:hover .nav-dot {
  background: #263238;
}

.main-nav.dark .nav-link.active .nav-dot {
  background: #263238;
}

@media (max-width: 720px) {
  .main-nav {
    display: none;
  }
}

.burguer-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 9;
}

@media (min-width: 719px) {
  .burguer-nav {
    display: none;
  }
}

.burguer-nav .nav-button {
  display: inline-block;
  position: fixed;
  left: 0;
  padding: 2rem 1.5rem;
  opacity: .8;
  z-index: 9;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.burguer-nav .nav-button .button-content:before, .burguer-nav .nav-button .button-content:after {
  -webkit-transition: .2s;
  transition: .2s;
}

.burguer-nav .nav-button:hover {
  -webkit-transition: .4s;
  transition: .4s;
  opacity: 1;
}

.burguer-nav .nav-button:hover .button-content:before, .burguer-nav .nav-button:hover .button-content:after {
  -webkit-transition: .2s;
  transition: .2s;
}

.burguer-nav .nav-button:hover .button-content:before {
  top: .825rem;
}

.burguer-nav .nav-button:hover .button-content:after {
  top: -.825rem;
}

.burguer-nav .button-content {
  position: relative;
  width: 2.2em;
  height: .2rem;
  background: #FAFAFA;
  border-radius: 2.5rem;
  -webkit-transition: .4s;
  transition: .4s;
}

.burguer-nav .button-content.dark {
  background: #263238;
}

.burguer-nav .button-content.dark:before, .burguer-nav .button-content.dark:after {
  background: #263238;
}

.burguer-nav .button-content:before, .burguer-nav .button-content:after {
  display: block;
  content: "";
  height: .2rem;
  width: 2.2rem;
  position: absolute;
  background: #FAFAFA;
  border-radius: 1rem;
  z-index: -1;
  -webkit-transition: .4s .2s;
  transition: .4s .2s;
}

.burguer-nav .button-content:before {
  top: .625rem;
}

.burguer-nav .button-content:after {
  top: -.625rem;
}

.burguer-nav .options {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  width: 100vw;
  height: 100vh;
  left: -100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: scroll;
  background: #FAFAFA;
  -webkit-transition: all 1s cubic-bezier(0.58, -0.25, 0.165, 1.2);
  transition: all 1s cubic-bezier(0.58, -0.25, 0.165, 1.2);
}

.burguer-nav .options .nav-link {
  display: block;
}

.burguer-nav .options .nav-link span {
  display: block;
}

.burguer-nav.open:not(.steps) .button-content:before,
.burguer-nav.open:not(.steps) .button-content:after {
  top: 0 !important;
}

.burguer-nav.open .navicon:before,
.burguer-nav.open .navicon:after {
  -webkit-transition: .4s;
  transition: .4s;
}

.burguer-nav.open .button-content {
  background: transparent;
}

.burguer-nav.open .button-content:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #263238;
}

.burguer-nav.open .button-content:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #263238;
}

.burguer-nav.open .options {
  left: 0;
}

.burguer-nav .options .nav-link {
  margin: 1rem 0;
  text-decoration: none;
  color: #212121;
  -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.burguer-nav .options .nav-link .number {
  margin-bottom: .2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  opacity: .5;
}

.burguer-nav .options .nav-link .title {
  padding: 0 .4rem .2rem .4rem;
  display: inline-block;
  -webkit-box-shadow: 0px;
          box-shadow: 0px;
  font-family: 'Abril Fatface', cursive;
  font-size: 1.9rem;
  -webkit-transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.burguer-nav .options .nav-link[data-item="header"] {
  color: #0089E9;
}

.burguer-nav .options .nav-link[data-item="aboutme"] {
  color: #263238;
}

.burguer-nav .options .nav-link[data-item="skills"] {
  color: #FC6600;
}

.burguer-nav .options .nav-link[data-item="timeline"] {
  color: #003D5B;
}

.burguer-nav .options .nav-link[data-item="portfolio"] {
  color: #960707;
}

.burguer-nav .options .nav-link[data-item="yunemy"] {
  color: #007A6B;
}

.burguer-nav .options .nav-link[data-item="blog"] {
  color: #1b5e20;
}

.burguer-nav .options .nav-link[data-item="contact"] {
  color: #2B454E;
}

.burguer-nav .options .nav-link:hover[data-item="header"] .title {
  -webkit-box-shadow: inset 0 -0.2rem 0 0 #0089E9;
          box-shadow: inset 0 -0.2rem 0 0 #0089E9;
}

.burguer-nav .options .nav-link:hover[data-item="aboutme"] .title {
  -webkit-box-shadow: inset 0 -0.2rem 0 0 #263238;
          box-shadow: inset 0 -0.2rem 0 0 #263238;
}

.burguer-nav .options .nav-link:hover[data-item="skills"] .title {
  -webkit-box-shadow: inset 0 -0.2rem 0 0 #FC6600;
          box-shadow: inset 0 -0.2rem 0 0 #FC6600;
}

.burguer-nav .options .nav-link:hover[data-item="timeline"] .title {
  -webkit-box-shadow: inset 0 -0.2rem 0 0 #003D5B;
          box-shadow: inset 0 -0.2rem 0 0 #003D5B;
}

.burguer-nav .options .nav-link:hover[data-item="portfolio"] .title {
  -webkit-box-shadow: inset 0 -0.2rem 0 0 #960707;
          box-shadow: inset 0 -0.2rem 0 0 #960707;
}

.burguer-nav .options .nav-link:hover[data-item="yunemy"] .title {
  -webkit-box-shadow: inset 0 -0.2rem 0 0 #007A6B;
          box-shadow: inset 0 -0.2rem 0 0 #007A6B;
}

.burguer-nav .options .nav-link:hover[data-item="blog"] .title {
  -webkit-box-shadow: inset 0 -0.2rem 0 0 #1b5e20;
          box-shadow: inset 0 -0.2rem 0 0 #1b5e20;
}

.burguer-nav .options .nav-link:hover[data-item="contact"] .title {
  -webkit-box-shadow: inset 0 -0.2rem 0 0 #2B454E;
          box-shadow: inset 0 -0.2rem 0 0 #2B454E;
}

.nav-button.is-not-visible, .main-nav.is-not-visible {
  display: none;
}

a.button {
  display: inline-block;
  position: relative;
  padding: 1rem 1.3rem;
  margin: 1.5rem;
  border: 2px solid #FAFAFA;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: .9rem;
  color: #FAFAFA;
  text-decoration: none;
  -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
}

a.button:before, a.button:after {
  content: '';
  position: absolute;
  z-index: -1;
  background: #FAFAFA;
}

a.button:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a.button:hover {
  color: #263238;
}

a.button:hover:after {
  width: 100%;
}

.yunemy .button:hover {
  color: #007A6B;
}

.blog .button {
  border: 2px solid #1b5e20;
  color: #1b5e20;
}

.blog .button:after {
  background: #1b5e20;
}

.blog .button:hover {
  color: #FAFAFA;
}

a.link {
  display: inline-block;
  position: relative;
  padding: .6rem .3rem;
  margin: .5rem 0;
  border-bottom: 1px solid #B00101;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: .9rem;
  color: #B00101;
  text-decoration: none;
  -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  z-index: 1;
}

a.link svg {
  height: auto;
  width: 1.1rem;
  margin-right: .2rem;
}

a.link svg path {
  -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  fill: #B00101;
}

a.link:before, a.link:after {
  content: '';
  position: absolute;
  z-index: -1;
  background: #B00101;
}

a.link:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

a.link:hover {
  color: #FAFAFA;
}

a.link:hover svg path {
  fill: #FAFAFA;
}

a.link:hover:after {
  width: 100%;
}

.skills-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 650px;
  margin: 4rem auto;
}

@media (max-width: 600px) {
  .skills-icons {
    margin: 2rem auto;
  }
  .skills-icons .skill-container {
    height: 5rem;
    width: 5rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin: 1.5rem;
  }
}

.skills-icons .skill-container {
  position: relative;
  height: 6rem;
  width: 6rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  margin-bottom: 2.5rem;
}

.skills-icons .skill-container .skill {
  position: relative;
  height: 100%;
  width: 100%;
}

.skills-icons .skill-container .skill img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-transition: .6s ease-out;
  transition: .6s ease-out;
}

.skills-icons .skill-container .skill img.color {
  opacity: 0;
}

.skills-icons .skill-container .skill:hover .color {
  opacity: 1;
}

.skills-icons .skill-container .skill:hover .white {
  opacity: 0;
}

.timeline-element {
  position: relative;
  margin-top: 3rem;
}

.timeline-element .line {
  width: 2px;
  height: 100%;
  margin: 0 auto;
  margin-top: .15rem;
  position: absolute;
  left: calc(50% - 1px);
  background: white;
}

.timeline-element .element {
  width: 50%;
  margin-left: 50%;
  margin-bottom: 2.5rem;
  position: relative;
}

.timeline-element .element .circle {
  height: 1.2rem;
  width: 1.2rem;
  position: absolute;
  right: calc(100% - .6rem);
  margin-top: .15rem;
  background: white;
  border-radius: 50%;
}

.timeline-element .element .job-content {
  padding-left: 1.5rem;
  position: relative;
  text-align: left;
}

.timeline-element .element .job-content .job-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.55rem;
  letter-spacing: .025rem;
}

.timeline-element .element .job-content .date {
  margin: auto;
  width: 100%;
  position: absolute;
  top: 0;
  left: calc(-100% - 1.5rem);
  text-align: right;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: .9rem;
  letter-spacing: .025rem;
}

.timeline-element .element .job-content .company {
  margin: .2rem 0;
  opacity: .8;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: .9rem;
  letter-spacing: .025rem;
}

.timeline-element .element .job-content .job-description {
  margin: .5rem 0;
  visibility: hidden;
  font-size: .95rem;
  letter-spacing: .025rem;
  line-height: 1.3rem;
}

.timeline-element .element:nth-child(even) {
  margin-left: 0;
}

.timeline-element .element:nth-child(even) .circle {
  right: calc(0% - .6rem);
}

.timeline-element .element:nth-child(even) .date {
  left: calc(100% + 1.6rem);
  text-align: left;
}

.timeline-element .element:nth-child(even) .job-content {
  padding-left: 0;
  padding-right: 1.5rem;
  text-align: right;
}

@media (max-width: 732px) {
  .timeline-element .line {
    left: 1rem;
  }
  .timeline-element .element {
    width: 100%;
    margin-left: 1.5rem;
  }
  .timeline-element .element .job-content .date {
    position: relative;
    margin-right: 0;
    margin-left: 0;
    margin-top: .3rem;
    left: 0;
    text-align: left;
    font-size: .8rem;
  }
  .timeline-element .element .job-content .company {
    margin-top: 0;
  }
  .timeline-element .element .circle {
    left: -1rem;
  }
  .timeline-element .element:nth-child(even) {
    margin-left: 1.5rem;
  }
  .timeline-element .element:nth-child(even) .job-content {
    padding-right: 0;
    padding-left: 1.5rem;
    text-align: left;
  }
}

.portfolio-gallery {
  margin-top: 1.5rem;
}

.portfolio-gallery .navigation {
  width: 20rem;
  max-width: 100%;
  margin: auto;
}

.portfolio-gallery .navigation ul {
  border-bottom: 1px solid #bdbdbd;
}

.portfolio-gallery .navigation ul li {
  display: inline-block;
  text-align: center;
  width: 32%;
}

.portfolio-gallery .navigation ul li a {
  display: inline-block;
  padding: .75rem 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #616161;
  font-size: .9rem;
  letter-spacing: .03rem;
}

.portfolio-gallery .navigation ul li.active a {
  color: #960707;
}

.portfolio-gallery .navigation ul li.todo:hover ~ .hover {
  opacity: .6;
  margin-left: 0%;
}

.portfolio-gallery .navigation ul li.todo.active ~ .line-active {
  margin-left: 0%;
}

.portfolio-gallery .navigation ul li.web:hover ~ .hover {
  opacity: .6;
  margin-left: 33%;
}

.portfolio-gallery .navigation ul li.web.active ~ .line-active {
  margin-left: 33%;
}

.portfolio-gallery .navigation ul li.diseno:hover ~ .hover {
  opacity: .6;
  margin-left: 66%;
}

.portfolio-gallery .navigation ul li.diseno.active ~ .line-active {
  margin-left: 66%;
}

.portfolio-gallery .navigation ul .hover, .portfolio-gallery .navigation ul .line-active {
  height: 2px;
  width: 34%;
  margin: 0;
  background: #960707;
  border: none;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0;
}

.portfolio-gallery .navigation ul .line-active {
  margin-top: -2px;
  opacity: 1;
}

.portfolio-gallery .elements {
  margin: 1.5em auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-gallery .elements .portfolio-item {
  width: 33.333%;
  padding: 1rem;
  position: relative;
}

.portfolio-gallery .elements .portfolio-item:hover img {
  opacity: .2;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio-gallery .elements .portfolio-item:hover .label {
  opacity: 1;
}

.portfolio-gallery .elements .portfolio-item img {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  border-radius: 5px;
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio-gallery .elements .portfolio-item .label {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  margin: 0 auto;
  padding: 1.5rem;
  opacity: 0;
  -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  /*.tags {
                    margin-top: .8rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;

                    img {
                        margin: .2rem;
                        width: 2rem;
                        height: auto;
                    }
                }*/
}

.portfolio-gallery .elements .portfolio-item .label p {
  margin: 0;
}

.portfolio-gallery .elements .portfolio-item .label p.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: .03rem;
  line-height: 1.4rem;
  color: #FAFAFA;
  padding: .5rem;
  background: #B00101;
  border-radius: 4px;
}

.portfolio-gallery .elements .portfolio-item .label p.cta {
  margin-top: .8rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #212121;
  font-size: .8rem;
  line-height: 1rem;
  letter-spacing: .025rem;
}

@media (max-width: 1200px) {
  .portfolio-gallery .elements .portfolio-item {
    width: 33.333%;
  }
}

@media (max-width: 900px) {
  .portfolio-gallery .elements .portfolio-item {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .portfolio-gallery .elements .portfolio-item {
    width: 100%;
  }
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 650px;
  margin: 3.5rem auto;
}

.social-icons a {
  margin: .8rem 1.3rem;
}

.social-icons a img, .social-icons a svg {
  height: 4rem;
  width: 4rem;
}

.social-icons a svg {
  fill: #FAFAFA;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.social-icons a:hover.email svg {
  fill: #D44638;
}

.social-icons a:hover.linkedin svg {
  fill: #0077B5;
}

.social-icons a:hover.codepen svg {
  fill: #000000;
}

.social-icons a:hover.github svg {
  fill: #333333;
}

.social-icons a:hover.twitter svg {
  fill: #1DA1F2;
}

.portfolio-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ECEFF1;
  z-index: 9999;
}

.portfolio-modal-container .modal {
  min-height: 100%;
  height: 100%;
  width: 100%;
  display: none;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background-color: #ECEFF1;
  -webkit-animation-duration: .4s !important;
          animation-duration: .4s !important;
}

.portfolio-modal-container .modal .close-button {
  height: 2rem;
  width: 2rem;
  margin: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
}

.portfolio-modal-container .modal .close-button svg polygon {
  -webkit-transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
  transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
}

.portfolio-modal-container .modal .close-button:hover svg polygon {
  fill: #B00101 !important;
  stroke-width: 1.3rem;
  stroke: #B00101;
}

.portfolio-modal-container .modal .image-cover {
  -webkit-box-flex: 0;
      -ms-flex: 0 50%;
          flex: 0 50%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-modal-container .modal .image-cover img.portfolio-image {
  max-width: 100%;
  max-height: calc(100vh - 22px);
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  /*margin: 0 auto;
                left: 0;
                right: 0;
                position: absolute;*/
}

.portfolio-modal-container .modal .main-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 50%;
          flex: 0 50%;
  text-align: left;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio-modal-container .modal .main-content .block {
  margin: auto;
}

.portfolio-modal-container .modal .main-content .title p.client {
  opacity: .7;
  margin: 0;
  margin-bottom: .3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #960707;
  font-size: 1rem;
}

.portfolio-modal-container .modal .main-content .title h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #960707;
  font-size: 2.5rem;
  line-height: 2.6rem;
}

.portfolio-modal-container .modal .main-content .tags {
  margin: .5rem 0 1.5rem 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.portfolio-modal-container .modal .main-content .tags:after {
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 0;
  height: 1px;
  width: 80%;
  opacity: .1;
  background: #212121;
}

.portfolio-modal-container .modal .main-content .tags span {
  padding: .4rem .5rem;
  margin: .3rem .2em;
  border-radius: 20px;
  background: #E0E0E0;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #212121;
  font-size: .9rem;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  cursor: context-menu;
}

.portfolio-modal-container .modal .main-content .tags span:hover {
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 50, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 6px rgba(50, 50, 50, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.portfolio-modal-container .modal .main-content .description p {
  margin: .5rem 0;
  width: 85%;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: .025rem;
  color: #212121;
}

.portfolio-modal-container .modal .main-content .description p strong {
  color: #263238;
}

.portfolio-modal-container .modal .main-content .icons {
  margin: 1rem 0;
}

.portfolio-modal-container .modal .main-content .icons img {
  height: 3rem;
  width: auto;
  margin: 0 .5rem;
}

@media (max-width: 900px) {
  .portfolio-modal-container .modal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio-modal-container .modal .image-cover .portfolio-image {
    max-height: 100% !important;
  }
  .portfolio-modal-container .modal .csslider {
    height: 100%;
  }
  .portfolio-modal-container .modal .csslider > ul {
    height: 100%;
  }
  .portfolio-modal-container .modal .main-content {
    display: initial;
    text-align: center;
  }
  .portfolio-modal-container .modal .main-content .tags {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio-modal-container .modal .main-content .tags:after {
    right: 0;
    margin: auto;
  }
  .portfolio-modal-container .modal .main-content .description p {
    margin: auto;
  }
}
/*# sourceMappingURL=style.css.map */