@import 'https://fonts.googleapis.com/css?family=Allura';
@import 'https://fonts.googleapis.com/css?family=Raleway';
@import 'https://fonts.googleapis.com/css?family=Inconsolata';

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	min-width: 100vw;
	height: 100vh;
	min-height: 100vh;
	position: absolute;
	background-image: url("img/front.jpg");
	background-position: center 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
}

#efecto {
	height: 100vh;
	width: 100vw;
	position: fixed;
	background: radial-gradient(#C9C9C9 60%, #1F1F1F);
	z-index: -2;
	opacity: 0.6;
}

header, section {
	height: 100vh;
	width: 100%;
	text-align: center;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-pack: center;
	    justify-content: center;
	padding: 2em;
	box-sizing: border-box;

}

h1 {
	font-size: 6em;
	font-family: 'Allura', cursive;
}

h2 {
	font-size: 4em;
	font-family: 'Inconsolata', monospace;
	letter-spacing: .1em;
	padding-bottom: .2em;
	
}


p {
	font-size: 1.1em;
	letter-spacing: .2em;
}