.section {
    .illustration-bg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 95%;
        height: 110%;
        opacity: .2;
        margin: 0 auto;
        margin-top: -15%;
    }

    &.header {
        .illustration-bg {
            margin: auto;
            height: 95%;

            background: url(../img/illustrations/moon.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }

    } 

    &.about-me {
        .illustration-bg {
            opacity: .07;
            margin-top: -25vh;
    
            background: url(../img/illustrations/hands.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;

            

            @media (max-width: 600px) {
                & {
                    margin-top: -20vh;
                    margin-left: 0;
                    width: 100vw;
                    background-size: 150vw
                }
            }

            @media (max-width: 372px) {
                & {
                    margin-top: -70vh;
                }
            }
        }
    }

    &.skills .illustration-bg {
        opacity: .2;

        background: url(../img/illustrations/egyptian-face.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center right;

        @media (max-width: 600px) {
            & {
                width: 100vw;
                background-size: 150vw;
                background-position: top left;
            }
        }
    }

    &.timeline .illustration-bg {
        width: 100%;
        opacity: .2;

        background: url(../img/illustrations/architecture.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;

        @media (max-width: 600px) {
            & {
                background-size: 200vw;
            }
        }
    }

    &.portfolio .illustration-bg {
        opacity: .2;
        margin-top: -15vh;
        max-height: 130vh;
        margin-right: -16vh;

        background: url(../img/illustrations/dragon.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center right;

        @media (max-width: 700px) {
            & {
                margin-right: 0;
                width: 100vw;
                max-height: 100%;
                opacity: .1;

                background-size: contain;
                background-position: top left;
            }
        }

        @media (max-width: 441px) {
            & {
                margin-top: -40vh;
            }
        }
    }

    &.yunemy .illustration-bg {
        opacity: .2;
        max-width: 800px;
        //margin-top: -30%;

        background: url(../img/illustrations/moon-phases.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;

        @media (max-width: 600px) {
            & {
                //margin-top: -55vh;
                width: 100vw;
                background-size: 170vw;
                //background-position: center;
            }
        }
    }

    &.blog .illustration-bg { 
        opacity: .2;
        height: 120%;
        margin-top: -30vh;
        margin-right: 5%;

        background: url(../img/illustrations/atlas.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center right;

        @media (max-width: 960px) {
            & {
                height: 90%;
                margin-top: -25vh;
                margin-left: 0;
                margin-right: 0;
                opacity: .1;
                background-position: center right;
            }
        }
    }

    &.contact .illustration-bg {
        opacity: .2;
        margin-top: 0;
        max-width: 800px;
        height: 100%;

        background: url(../img/illustrations/beetle.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center right;

        @media (max-width: 600px) {
            & {
                width: 100vw;
                width: calc(100vw - (100vw - 100%));
                background-size: 200vw;
                background-position: center;
            }
        }
    }
}