/*      Blanco: #FFF
		Negro: #000
		Amarillo: #FFFD07
		Naranja: #FDB419
		Violeta: #B7ABD1
		Morado: #673491
		Verde claro: #98FF96
		Verde oscuro: #10B04E
		Azul claro: #A4E7FA
		Azul oscuro: #0DBBED
		Rojo: #E91C23
		Rosa: #F703EF   */