a.link {
    display: inline-block;
    position: relative;
    padding: .6rem .3rem;
    margin: .5rem 0;

    border-bottom: 1px solid $red;

    @include raleway-semi-bold;
    font-size: .9rem;
    color: $red;
    text-decoration: none;

    transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
    z-index: 1;

    svg {
        height: auto;
        width: 1.1rem;
        margin-right: .2rem;

        path {
            transition: all 0.5s cubic-bezier(0.4, 1.3, 0.65, 1);
            fill: $red;
        }
    }

    &:before,
    &:after {
        content: '';
        position: absolute;
        z-index: -1;

        background: $red;
    }

    &:after {
        height: 100%;
        left: 0;
        top: 0;
        width: 0;

        transition: all 0.3s;
    }

    &:hover {
        color: $white;

        svg {
            path {
                fill: $white;
            }
        }

        &:after {
            width: 100%;
        }
    }

}