* {
	padding: 0;
	margin: 0;
	overflow-x:hidden !important;
}

body {
	background-color: #FFF5E3;
}

#triangulos {
	width: 110vw !important;
	height: 120vh;
	z-index: -3;
	position: fixed;
	top: -15vh;
}

#triangulos * {
	overflow: hidden !important; 
}

#triangulos li {
	position: fixed;
	width: 110vw !important;
	height: 120vh;

}

#triangulos img {
	width: auto;
	height: 120vh;
	float: right;

}

#retrato {
	width: 100vw;
	height: 100vh;
	position: fixed;
	display: flex;
	align-items: flex-end;
}

#retrato img {
	width: 45vmax;
	max-width: 100vw;
	height: auto;
	opacity: 0.5;
}

@media (max-width: 668px) {
	#retrato img {
		
	}
}